.error-view {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 10%;
}

img{
    width: 20em;
    margin: 0 auto;
}

.btn {
    margin-top: 2em;
} 